@use "styles/utils.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    button {
        background-color: utils.shade(transparent, 10%);
        border: 0px solid rgba(0, 0, 0, 0.2);
        border-radius: var(--border-radius);

        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 50px;
        transition: 0.4s border-radius;

        &:hover {
            border-width: 2px;
            border-radius: calc(var(--border-radius) * 2);

            cursor: pointer;
        }
    }
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and (max-width: 900px) {
    .mainContainer {
        flex-direction: row;

        button {
            min-width: 70px;
        }
    }
}