@import "styles/functions.scss";

#canvasContainer {
    background-color: shade(transparent, 10%);
    border-radius: var(--border-radius);
    grid-area: canvas;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-canvas {
    width: 500px;
}
