@use "/styles/utils.scss";

.footer {
    background-color: utils.shade(transparent, 5%);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 75px;
    padding: 1em 1.5em;
}