@import "../styles/functions.scss";

.header {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    background-image: url("/img/squares_background.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    padding: 1em 1.5em;

    a {
        border-radius: var(--border-radius);
        color: white;
        text-decoration: none;
        outline: none;
        font-size: 1.1em;
        
        padding: 0.7em 1em;
        transition: 0.2s;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
        }

        a:hover {
            background-color: shade(transparent, 10%);
            border-bottom: 2px solid white;
            border-width: 3px;
        }
    }

    #buttonContainer {
        margin-left: auto;

        .headerButton {
            background-color: var(--yellow);
            border: 2px solid white;
            color: black;
            display: inline-block;
    
            font-weight: bold;
            margin-left: 1em;
    
            &:hover {
                background-color: shade(#ffd957, 50%); /*FIXME: Comprobar como pasarle el color actual o hacer uso de variables de CSS*/
            }
        }
    
        .headerButtonWithIcon {
            color: white;
            border: 2px solid white;
    
            display: inline-flex;
            align-items: center;
            gap: 0.3em;
            margin-left: 1em;
    
            &:hover {
                background-color: shade(transparent, 20%);
            }
        }
    }
}
