@use "/styles/utils.scss";
@use "/styles/variables.scss";

.header {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    background-image: url("/img/squares_background.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    padding: 1em 1.5em;

    a {
        border-radius: var(--border-radius);
        color: white;
        text-decoration: none;
        outline: none;
        font-size: 1.1em;
        white-space: nowrap;
        
        padding: 0.7em 1em;
        transition: 0.2s;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
        }

        a:hover {
            background-color: utils.shade(transparent, 10%);
            border-bottom: 2px solid white;
            border-width: 3px;
        }
    }

    #buttonContainer {
        display: flex;

        margin-left: auto;

        .headerButton {
            @include utils.buttonBase(black, variables.$primary, white);

            margin-left: 1em;
        }
    
        .headerButtonWithIcon {
            color: white;
            border: 2px solid white;
    
            display: inline-flex;
            align-items: center;
            gap: 0.3em;
            margin-left: 1em;
    
            &:hover {
                background-color: utils.shade(transparent, 20%);
            }
        }
    }
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and (max-width: 600px) {
    .header {
        background-image: none;

        flex-direction: column;

        nav {
            ul {
                padding-left: 0;
            }
        }

        #buttonContainer {
            margin: 1em auto 0 auto;
            column-gap: 1em;

            .headerButton, .headerButtonWithIcon {
                margin: 0;
            }
        }
    }
}
