@use "/styles/utils.scss";
@use "/styles/variables.scss";

#mainContainer {
    background-color: utils.shade(transparent, 45%);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    #content {
        background-color: white;
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;

        > span {
            background-color: var(--secondary);
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: 2em;

            padding: 1em;

            h3 {
                margin: 0;
            }
        }

        > div {
            padding: 1em;

            /* TODO: Move form styles to utils file (Create a base template) */
            form {
                display: flex;
                flex-direction: column;
                gap: 1em;

                label {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                }

                input {
                    background-color: utils.shade(transparent, 10%);
                    border-radius: var(--border-radius);
                    border: 0;
                    outline: 0;

                    padding: 0.6em;
                }

                button {
                    @include utils.buttonBase(black, variables.$green);
                }
            }

            button {
                @include utils.buttonBase(black, variables.$primary, white);
                
                float: right;
            }
        }
    }

    #closeModal {
        @include utils.buttonBase(white, variables.$red);
    }
}