@use "/styles/utils.scss";
@use "/styles/variables.scss";

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100%;
    overflow: hidden;
}

.form {
    background-color: var(--blue);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    
    padding: 1.5em;
    width: 350px;

    label {
        color: white;

        margin-bottom: 0.2em;
        display: inline-block;
    }

    input {
        border: 0;
        border-radius: var(--border-radius);
        outline: 0;
        font-size: 0.9em;

        display: inline-block;
        
        padding: 0.7em 0.8em;
        margin-bottom: 2em;
    }

    .formSubmitButton {
        @include utils.buttonBase(black, variables.$primary);

        margin-top: 1em;
        padding: 1em;
    }

    .formSwitchButton {
        background: var(--yellow);
        border: 0;

        cursor: pointer;
        transition: 0.5s;
        
        padding: 0.7em;
        margin-bottom: -35px;
        position: relative;

        &:hover {
            background-color: utils.shade(variables.$primary, 20%);
        }
    }
}

#loginForm {
    #formSwitchToRegister {
        border-radius: 0 0 5px 5px;
        top: 23px;
    }
}

#registerForm {
    #formSwitchToLogin {
        border-radius: 5px 5px 0 0;
        top: -58px;
    }
}

.hidden {
    display: none;
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and (max-width: 600px) {
    .form {
        width: 300px;
    }
}