@use "variables.scss";
@use "utils.scss";

@font-face {
    font-family: "Lovelo";
    src: url("../public/fonts/Lovelo\ Black.otf");
}

@font-face {
    font-family: "Rubik";
    src: url("../public/fonts/Rubik-VariableFont_wght.ttf");
}

:root {
    //Main properties
    --primary: #{variables.$primary};
    --secondary: #{variables.$secondary};

    //Colors
    --red: #{variables.$red};
    --purple: #{variables.$purple};
    --orange: #{variables.$orange};
    --yellow: #{variables.$yellow};
    --green: #{variables.$green};
    --light-blue: #{variables.$light-blue};
    --blue: #{variables.$blue};

    //Misc
    --border-radius: #{variables.$border-radius};
}

* {
    box-sizing: border-box;
    font-family: "Rubik", Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: "Rubik", Segoe UI, sans-serif;
    line-height: 1.6;
    font-size: 16px;

    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lovelo", Segoe UI, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin-bottom: 1em;
}

h4, h5, h6 {
    margin-bottom: 0.5em;
}

#__next {
    display: grid;
    grid-template-rows: 125px 1fr auto;
    
    height: 100%;
}

.loadingScreen {
    animation: loadingScreenAnimation 10s infinite alternate;
    background-color: var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-row: 1 / span 2;
}

.errorMessage {
    @include utils.messageBase("error");
}

.okMessage {
    @include utils.messageBase("ok");
}

.custom-select {
    width: 100%;

    .custom-select__control {
        
        box-shadow: none;
        border-color: none;
    }
}

main {
    background-image: url("/img/homepage_background.png");
    background-position: bottom right;
    background-repeat: no-repeat;

    margin: 2em;
}

a, a:visited {
    color: utils.shade(variables.$secondary, 30%);
}

/* --------------------------------------------- ANIMATIONS --------------------------------------------- */

@keyframes loadingScreenAnimation {
      0% { background-color: var(--purple); }
     15% { background-color: var(--red); }
     30% { background-color: var(--orange); }
     45% { background-color: var(--yellow); }
     60% { background-color: var(--green); }
     75% { background-color: var(--blue); }
    100% { background-color: var(--light-blue); }
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and(max-width: 600px) {
    #__next {
        display: grid;
        grid-template-rows: auto 1fr auto;
        
        height: 100%;
    }

    main {
        background-size: contain;
    }
}
