@use "sass:color";
@use "utils.scss";

#profile {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 2fr 4fr;
    grid-template-areas: "welcome welcome"
                         "card info"
                         "designs designs";
    gap: 2em;

    padding: 0 7em;

    h1 {
        margin: 0;
    }

    > div {
        border-radius: var(--border-radius);

        /* padding: 1.2em; */
        overflow: hidden;
    }

    .containerHeader {
        background-color: utils.shade(transparent, 15%);

        padding: 1.2em;
        margin: 0;
    }

    .containerContent {
        display: flex;
        flex-direction: column;

        padding: 1.2em;

        .containerContentRow {
            display: grid;
            grid-template-columns: 6fr 5fr 1fr;

            margin-bottom: 1.5em;

            button {
                @include utils.buttonBase(white, #5f7fff, white);
            }
        }
    }

    #welcomeMessage {
        grid-area: welcome;
    }

    #userCard {
        background: var(--yellow);
    
        grid-area: card;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 1.2em;
        width: fit-content;

        h3 {
            margin: 1em 0 0 0;
        }

        i {
            margin: 0 0 1em 1em;
        }
    
        img {
            border-radius: var(--border-radius);
            object-fit: cover;
            object-position: center;
        }
    }

    #userInfo {
        background-color: var(--yellow);

        grid-area: info;
    }

    #userDesigns {
        background-color: var(--yellow);

        grid-area: designs;
    }
}

