@use "sass:color";
@use "utils.scss";
@use "variables.scss";

#profile {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 4fr;
    grid-template-areas: "welcome welcome"
                         "card info"
                         "designs designs";
    gap: 2em;

    padding: 0 7em;

    h1 {
        margin: 0;
    }

    > div {
        border-radius: var(--border-radius);

        /* padding: 1.2em; */
        overflow: hidden;
    }

    .containerHeader {
        background-color: utils.shade(transparent, 15%);

        padding: 1.2em;
        margin: 0;
    }

    .containerContent {
        display: flex;
        flex-direction: column;

        .containerEmptyContentRow {
            text-align: center;
            padding: 2em;
        }

        .containerContentRow {
            display: grid;
            align-items: center;
            grid-template-columns: 6fr 5fr 1fr;

            padding: 1.2em;

            a {
                @include utils.buttonBase(white, #5f7fff, white);
                
                text-decoration: none;
                padding: 0.3em 1em;
            }
        }

        .containerContentRow:nth-of-type(even) {
            background-color: utils.shade(transparent, 5%);
        }
    }

    #welcomeMessage {
        grid-area: welcome;
    }

    #userCard {
        background: var(--red);
    
        grid-area: card;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        padding: 1.2em;

        i {
            margin: 0 0 1em 1em;
        }
    
        img {
            background-color: utils.shade(transparent, 5%);;
            border-radius: var(--border-radius);
            object-fit: cover;
            object-position: center;
        }

        label {
            border-radius: var(--border-radius);

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            /* FIXME: Don't set a fixed height and width  */
            width: 215px;
            height: 215px;
            z-index: 9999;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
            }

            &:hover > svg {
                display: block;
            }

            svg {
                display: none;
                stroke: white;
            }

            input {
                display: none;
            }
        }

        #detailsButtonsContainer {
            display: none;
            grid-template-columns: 1fr auto;
            column-gap: 1em;

            margin-top: 1em;

            #saveUserDetailsButton {
                @include utils.buttonBase(black, variables.$primary, white);
            }

            #cancelUserDetailsButton {
                @include utils.buttonBase(white, variables.$red, white);
            }
        }
        

        #userNameLabel {
            border-radius: var(--border-radius);
            cursor: pointer;

            margin: 1em 0 0 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        #userNameInput {
            background-color: rgba(0, 0, 0, 0.2);
            border: 0;
            border-radius: var(--border-radius);
            display: none;
            outline: 0;
            font-family: "Lovelo", Segoe UI, sans-serif;
            font-size: 1.17em;

            margin: 1em 0 0 0;
            padding: 0.2em 0;
            text-align: center;
        }
    }

    #userInfo {
        background-color: var(--green);

        grid-area: info;
    }

    #userDesigns {
        background-color: var(--yellow);

        grid-area: designs;
    }
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and (max-width: 1024px) {
    #profile {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 600px) {
    #profile {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "welcome"
                             "card"
                             "info"
                             "designs";

        padding: 0;

        .containerContent {
            .containerContentRow {
                grid-template-columns: auto;
                row-gap: 0.7em;
    
                button {
                    font-size: 0.9em;
                }
            }
        }
    }
}