@use "sass:color";
@use "utils.scss";

#profile {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 2fr 4fr;
    grid-template-areas: "welcome welcome"
                         "card info"
                         "designs designs";
    gap: 2em;

    padding: 0 7em;

    h1 {
        margin: 0;
    }

    > div {
        border-radius: var(--border-radius);

        /* padding: 1.2em; */
        overflow: hidden;
    }

    .containerHeader {
        background-color: utils.shade(transparent, 15%);

        padding: 1.2em;
        margin: 0;
    }

    .containerContent {
        display: flex;
        flex-direction: column;

        .containerContentRow {
            display: grid;
            align-items: center;
            grid-template-columns: 6fr 5fr 1fr;

            padding: 1.2em;

            button {
                @include utils.buttonBase(white, #5f7fff, white);
            }
        }

        .containerContentRow:nth-of-type(even) {
            background-color: utils.shade(transparent, 5%);
        }
    }

    #welcomeMessage {
        grid-area: welcome;
    }

    #userCard {
        background: var(--red);
    
        grid-area: card;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        padding: 1.2em;

        h3 {
            margin: 1em 0 0 0;
        }

        i {
            margin: 0 0 1em 1em;
        }
    
        img {
            background-color: utils.shade(transparent, 5%);;
            border-radius: var(--border-radius);
            object-fit: cover;
            object-position: center;
        }
    }

    #userInfo {
        background-color: var(--green);

        grid-area: info;
    }

    #userDesigns {
        background-color: var(--yellow);

        grid-area: designs;
    }
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and (max-width: 1024px) {
    #profile {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 600px) {
    #profile {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "welcome"
                             "card"
                             "info"
                             "designs";

        padding: 0;

        .containerContent {
            .containerContentRow {
                grid-template-columns: auto;
                row-gap: 0.7em;
    
                button {
                    font-size: 0.9em;
                }
            }
        }
    }
}