@use "styles/utils.scss";

#sandboxMainContainer {
    display: grid;
    gap: 2em;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: "tools canvas rendered-content";
}

#toolContainer {
    background-color: utils.shade(transparent, 10%);
    border-radius: var(--border-radius);

    grid-area: tools;
}

#renderedContentContainer {
    background-color: utils.shade(transparent, 10%);
    border-radius: var(--border-radius);

    grid-area: rendered-content;
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

@media only screen and (max-width: 900px) {
    #sandboxMainContainer {
        grid-template-columns: auto;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas: "tools" "canvas" "rendered-content";
    }
}